@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Prompt", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #44344f;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.faqs_container {
  width: 90%;
  height: 50rem;
  background-color: #ffffff;
  box-shadow: -0.3rem 0.5rem 1.3rem 0 rgba(0, 0, 0, 1);
  padding: 1rem;
  border-radius: 1rem;
}

.faqs_container_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 100%;
}

.faqs_container_title h1 {
  font-size: 2rem;
  text-align: center;
}

.faqs_container_questions {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: 44rem;
}

.faq_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  box-shadow: -0.3rem 0.5rem 1.3rem 0 rgba(0, 0, 0, 1);
  padding: 1rem;
  border-radius: 1rem;
}

.faq_container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.faq_container_header h2 {
  font-size: 1.2rem;
}

.btn {
  font-size: 1.2rem;
}

.faq_container_info {
  font-size: 0rem;
  height: 0;
  max-height: 0;
  transition: max-height 1s;
}

.faq_container_info.height_transition {
  font-size: 1.2rem;
  height: auto;
  max-height: 100rem;
  transition: max-height 1s;
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .faqs_container {
    width: 70rem;
    height: 70rem;
  }

  .faqs_container_questions {
    align-items: center;
    height: 62rem;
  }

  .faqs_container_title h1 {
    font-size: 3rem;
  }

  .faq_container {
    width: 60rem;
  }

  .faq_container_header h2 {
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
  }

  .height_transition {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .faqs_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 95rem;
    height: auto;
  }

  .faqs_container_title {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    height: 100%;
    width: 30%;
    margin-top: 5rem;
  }

  .faqs_container_title h1 {
    font-size: 3.5rem;
  }

  .faqs_container_questions {
    width: 70%;
    justify-content: flex-start;
    height: 100%;
    margin-top: 5rem;
  }

  .faq_container {
    width: 60rem;
    padding: 3rem;
    margin-bottom: 3rem;
  }
}
