.cocktail_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
}

.h2_notext {
  font-size: 3rem;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .cocktail_list {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    align-items: center;
  }
}
